.title {
  text-align: center;
}

.card-body {
  text-align: center;
}

.card,
.button-bar {
  max-width: 540px;
  margin: 0 auto;
}

.img-container {
  margin: auto !important;
}

img {
  object-fit: fill;
}

.card-body {
  max-height: 336px;
  overflow: scroll;
}
